body
{
	max-width:1000px;
	margin:auto;
}

header, footer {
	background-color: deepskyblue;
}

h2 {
	background-color:deepskyblue;
	font-weight: bold;
	font-style: italic;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: lightcyan;
	overflow: hidden;
}
nav li {
	float:left;
	padding:10px 20px;
}

