body
{
	max-width:1000px;
	margin:auto;
}
header {
	background-color: deepskyblue;
}
article {
	border:solid blue;
	margin-bottom: 2rem;
}
article > h2{
	color: red;
}
article > p:nth-of-type(1){
	background-color: blue;
}