
@media screen and (min-width : 700px){
/*GENERAL*/
*{
    margin: 0;
    padding: 0; 
    list-style-type: none;
    text-decoration: none;
}

body{
    margin: 0 auto;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 'header' 
                        ' main'
                        'footer';

    justify-content: center;

}

header{
   
    padding: 2.5rem;
    background-size: cover;
    background: url("../Assets/Webp/8416301-hand-drawn-illustration-of-a-photo-camera-on-white-background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: 'header';
    height: 100vh;
}

footer{
    
    background: rgb(65, 60, 60);
    grid-area: 'footer';
    height: max-content;
}
/*********************************************************/
/*HEADER*/
#logo{
    grid-area: logo;
    align-self: center;
}
.navBar{
    display: grid;
    position: relative;
    top: 3rem;
    grid-template-areas: ' logo nav ';
    height: 3rem;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}
nav{
    grid-area: nav;
    align-self: center;
    background: transparent;
}

nav>ul{
    display: flex;
    flex-direction: row;
}
nav>ul>li{
    margin: 1rem;
    background: transparent;
 
    
    padding: 10px;
}
nav>ul>li>a{
  
    padding: 10px;
   color: black;
    transition: 0.4s ease-in;
    background: transparent;

    border: 1px solid black;
    border-radius: 50px 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}
nav>ul>li>a:hover{
   
    border-radius: 50px 50px;
    background: rgba(255, 0, 0, 0.795);
 
    color: rgba(255, 255, 255, 0.911);
    transition: 0.45s ease-in-out;

}

/*MAIN*/
main{
    position: relative;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    grid-area: main;
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    justify-content: space-around;
    align-items: center;
 
}
main > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 7rem;
    height: 20vh;
    width: 50%;
}
main > section:nth-of-type(2){
  
  
}
main>section>article{
  
    
    margin: 1.5rem;
 
    justify-self: center;
    align-self: center;
}
main > section:nth-of-type(2) > article{
    
}
main>section>aside{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
 
   
}
main > section:nth-of-type(2) > aside{
    justify-content: flex-start;
}
/*FOOTER*/
.container_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container_footer>div{
    margin: 1rem;
    color: rgba(201, 199, 199, 0.356);
}
.container_footer>div>ul>li>a{
    color: #fff;
}
.container_footer>div>a{
    color: black;
}
.span3>h3{
    text-align: center;
}
.span3>h3{
    text-align: center;
    margin-bottom: 1.2rem;
}
.span3>ul{
    text-align: center;
}
.span3 > ul > li{
    margin: 1.2rem;
}
}
@media screen and (max-width : 700px){

/*********************************************************/
*{
    margin: 0;
    padding: 0; 
    list-style-type: none;
    text-decoration: none;
}


/*HEADER*/

header{
   
    padding: 2.5rem;
    background-size: cover;
    background: url("../Assets/Webp/8416301-hand-drawn-illustration-of-a-photo-camera-on-white-background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: 'header';
    height: 100vh;
    
}

.navBar{
    display: flex;
    flex-direction: column;
    
}
nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 10rem;
}

nav>ul{
    display: flex;
    flex-direction: column;

 
}
nav>ul>li{
    margin: 1rem;
    background: transparent;
 
  
    padding: 10px;
}
nav>ul>li>a{
  
    padding: 10px;
  
    transition: 0.4s ease-in;
    
    background: rgba(255, 0, 0, 0.795);
 
    color: rgba(255, 255, 255, 0.911);
    border: 1px solid #fff;
    border-radius: 50px 50px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
nav>ul>li>a:hover{
    background: rgba(233, 228, 228, 0.534);
    border-radius: 50px 50px;
    color: rgba(255, 0, 0, 0.795);
    transition: 0.45s ease-in-out;

}
/*MAIN*/
main{
    position: relative;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    grid-area: main;
    width: 100vw;
    height: 100vh;
    margin: auto 0;
    justify-content: space-around;
    align-items: center;
 
}
main > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 7rem;
    height: 20vh;
    width: 100%;
}
main > section:nth-of-type(2){
  
  
}
main>section>article{
    margin: 1.5rem;
 
    justify-self: center;
    align-self: center;
}
main > section:nth-of-type(2) > article{
    
}
main>section>aside{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
 
   
}
main > section:nth-of-type(2) > aside{
    justify-content: flex-start;
}
/*FOOTER*/
.container_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container_footer>div{
    margin: 1rem;
    color: white;
}
.container_footer>div>ul>li>a{
    color: black;
}
.container_footer>div>a{
    color: black;
}
.span3>h3{
    text-align: center;
}
.span3>h3{
    text-align: center;
    margin-bottom: 1.2rem;
}
.span3>ul{
    text-align: center;
}
.span3 > ul > li{
    margin: 1.2rem;
}
   
    footer{
        visibility: hidden;
    }
}