@charset "utf-8";

body{
	margin:auto;
	font-size: 100%;
}
h1{
	font-size: 2em;
	padding:10px;
}
h2{
	font-size: 1.5em;
	padding: 10px;
}
h1, h2 {
  text-align:center;
  margin:0px;
}
div{
	margin:0px;
	padding:10px;
}
article{
	max-width:1000px;
	min-height: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
}
.fondPale{
	background-color: gainsboro;
}
.fondFonce{
	background-color: grey;
}
.instructionJS {
	font-style: italic;
	font-size: 0.9em;
}
button{
	padding:10px;
	display:block;
	margin:10px 0px;
}
#exemple3 button, #exemple7 button{
	float:left;
}
#exemple3 div{
	clear:both;


}

