@charset "utf-8";

p{
	font-size: 1.5em;
	text-align:center;
}
hr {
 width:50%;
}
.histoire{
	clear: both;
	overflow: auto;
	margin-bottom: 1.5rem;
}
.histoire > .droite{
	float: right;
	padding: 1.2rem;
}
.histoire > .gauche{
	float: left;
	
}
footer{
	clear: both;
	
}